# google-cloud-bigquery
# google-api-core
# The above are NOT required if not sending data to Big Query


-i https://pypi.org/simple
backoff>=1.10.0
loguru>=0.5.3
pyais
PyYAML>=5.4.1
google-cloud-bigquery
google-api-core